<%= render 'shared/incompany_banner'%> 
<div class="incompany explanation">
  <div class="question-list">
    <ul>
      <li><a href='#q-1'>¿Qué es elive INCOMPANY</a></li>
      <li><a href='#q-2'>¿Qué ofrecemos?</a></li>
      <li><a href='#q-3'>¿Por qué elive incompany?</a></li>
      <li><a href='#q-4'>¿Qué son los webinars cursos privados?</a></li>
      <li><a href='#q-5'>Webinars soluciones empresariales</a></li>
    </ul>
  </div>
  
  <div class="question">
    <h3 id="q-1">¿Qué es elive INCOMPANY?</h3>
    <p>Son los productos y servicios que<strong><em>elivewebinars</em></strong> ofrece a las empresas. Nuestras estrategias de solución están orientadas a atender las necesidades de capacitación de; los empleados de una organización así como promover los servicios y productos de las organizaciones en el mercado nacional o global.</p>
    <table>
      <tbody>
        <tr>
          <th><h4>Promoción de susproductos y servicios</h4></th>
          <th><h4>Consultoría y capacitación</h4></th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>Anticípese a la competencia y promueva sus soluciones empresariales directamente y con empleados clave de su organización</li>
              <li>Promueva sus productos y servicios con la solución más poderosa y eficiente para llegar a sus clientes y prospectos</li>
              <li>Genere contenidos para redes sociales</li>
              <li>¡Posicione su marca en el mercado global!</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Haga que su capacitación sea relevante, estimulante y dinámica</li>
              <li>Entrene a su fuerza de trabajo dispersa de manera simultánea…</li>
              <li>¡No parta de cero! Registre a su personal en los WEBINARS de Catálogo</li>
              <li>Mejore sus procesos de capacitación a través de nuestra consultoría de Servicios de Estrategias Instruccionales</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <p><strong>Capacite a sus empleados y promueva sus productos y servicios con sus clientes en grupos masivos o particulares y…</strong></p>
    <ul>
      <li>¡Ahorre 100% en viáticos!</li>
      <li>¡Y llegue a cualquier parte del mundo en tiempo real!</li>
    </ul>
    <p><strong>Pregunte por nuestras soluciones <em>Masivo 100™</em>,<em>Grupo 22™</em> y<em> Equipo 5™ </em></strong></p>
  </div>
  
  <div class="question">
    <h3 id="q-2">¿Qué ofrecemos?</h3>
		<p>Somos expertos en la producción de contenidos para optimizar sus procesos de capacitación y de promoción de productos y servicios. .</p>
    <p>Para lograr tal fin, ponemos a su disposición:</p>
    <ul>
      <li><strong><em>C</em></strong>onsultoría <strong><em>P</em></strong>untual en <strong><em>E</em></strong>strategias <strong><em>I</em></strong>nstruccionales, <strong><em>“CPEI”.</em></strong> Nuestra consultoría le ofrece una solución concreta a las necesidades instruccionales y de capacitación según los requerimientos de su organización la cual se desarrolla bajo estrictos estándares de calidad acorde a nuestra <strong><em>metodología de desarrollo de contenidos</em></strong><em>. </em>Ponemos a sus disposición:</li>
      <ul>
        <li>Generación de contenidos temáticos</li>
        <li>Asesoría integral para el desarrollo de contenidos de capacitación</li>
        <li>Elaboración y mantenimiento de sus cursos en línea y presenciales</li>
        <li>Entrenamiento en temas relacionados con capacitación y estrategias instruccionales</li>
      </ul>
      <li>Desarrollo, migración&nbsp; e implementación de cursos, actualizaciones, conferencias y talleres en formato WEBINAR. <strong>¡Su capacitación EN VIVO </strong>por<strong> internet!</strong></li>
      <li>Desarrollo de contenidos y transmisión de su evento de promoción de sus soluciones empresariales&nbsp; en formato WEBINAR. <strong>¡Su presentación EN VIVO por Internet!</strong></li>
    </ul>				
  </div>
    
  <div class="question">
    <h3 id="q-3">¿Por qué elive incompany?</h3>
    <%= image_tag("incompany-1.jpg", :class => "right")%>
    <p>Las soluciones <strong><em>elivewebinars </em>EN VIVO</strong> por <strong>Internet</strong> son una asombrosa herramienta de mercadotecnia&nbsp; que por su alcance, organización y posibilidades de contenido supera en mucho a otras herramientas de comunicación en línea.</p>
    <p><strong>¡Razones para hacerte webinar!</strong></p>
    <ul>
      <li>Comunicar breve, clara y efectivamente <strong>EN VIVO</strong> por <strong>Internet</strong> a sus clientes y prospectos localizados en cualquier parte del mundo</li>
      <li>Mantenerse actualizado al integrarse a las tendencias de promoción y venta a distancia de hoy en día</li>
      <li>Ahorrar en viáticos y eliminar los esfuerzos administrativos demandados por un evento presencial</li>
      <li>Desarrollar contenidos hechos a su medida y con impacto a resultados</li>
      <li>Integrar la posibilidad de que un grupo de expertos comuniquen sus soluciones empresariales directamente al mercado de su interés</li>
      <li>Flexibilidad de horario, ya que programamos los webinars en el horario de su conveniencia</li>
    </ul>
    <p><strong>Y por si fuera poco…</strong></p>
    <p>¡Porque nadie en Latinoamérica sabe operar WEBINARS como <strong><em>elivewebinars</em></strong>!</p>
    <p>¡Si quiere más razones, póngase en contacto con nosotros y descubra porque somos la mejor opción del mercado!</p>
  </div>
    
  <div class="question">
    <h3 id="q-4">¿Qué son los webinars cursos privados?</h3>
    <%= image_tag("incompany-2.jpg", :class => "right")%>
    <p>Nuestro servicio de capacitación privada está orientado a dar apoyo a las empresas que necesitan informar sobre una actualización, asistir en el desarrollo de competencias laborales que agreguen valor a los procesos de negocio o motivar a la acción con este mismo propósito. Este esfuerzo se aplica a todos y a cada uno de los participantes inscritos en los programas de aprendizaje de su empresa o de nuestros webinars de catálogo.</p>
    <p>Cada plan privado de capacitación desarrollado para su organización, se lleva a cabo de manera remota <strong>EN VIVO</strong> por <strong>Internet</strong>, y puede ser realizado bajo las siguientes modalidades:</p>
    <ul>
      <li><strong>Webinar Actualización: </strong>Si lo que busca es informar sobre ajustes a la fecha, y vigencias, adaptaciones y cambios relativos a procesos, normas, leyes, recurso, sistemas y otros elementos de negocio,&nbsp; a sus empleados y colaboradores.<strong></strong></li>
      <li><strong>Webinar Curso: </strong>Si requiere habilitar a sus empleados&nbsp; en el dominio de alguna tarea, actividad, o área de conocimiento específica de manera puntual, breve y efectiva.<strong></strong></li>
      <li><strong>Webinar Conferencia: </strong>Si su propósito es informar y/o motivar a la acción a sus empleados, proveedores o clientes de manera directa&nbsp; o a través de un tercero experto en la materia, de manera rápida y efectiva, esta solución es la indicada para usted.<strong></strong></li>
      <li><strong>Webinar Taller: </strong>Este formato de entrenamiento es ideal<strong> </strong>para que los participantes,&nbsp; a través de reuniones virtuales que también se llaman talleres, descubran o construyan de forma colaborativa soluciones de negocio, establecer consensos, intercambiar experiencias, se motiven a la acción, o logren cualquier objetivo o meta de equipo.</li>
    </ul>
    <p>Además, contamos con:</p>
    <ul>
      <li><strong>Webinar Catálogo: </strong>Le ofrecemos una lista de temas de webinars en formato de curso para 22 participantes con enfoque a solución. Cada webinar tiene una duración de 3 horas. ¡Pregunte por nuestro catálogo!</li>
      <li><strong>Webinar Catálogo Adhoc:</strong> De la lista de temas de curso de nuestro catálogo, le ofrecemos adaptar sus contenidos: ejercicios, ejemplos y escenarios&nbsp; según el contexto y&nbsp; requerimiento de sus participantes,&nbsp; hasta en un 25%. ¡Seleccione el que más le convenga!</li>
    </ul>
    <p><strong>Contáctenos y pregunte por nuestro catálogo </strong></p>			
  </div>
  
  <div class="question">
    <h3 id="q-5">Webinars soluciones empresariales</h3>
    <%= image_tag("incompany-3.jpg", :class => "left")%>
    <p>Eficientice la forma de comunicar y promocionar sus productos y servicios a sus prospectos o clientes a través de webinars <strong>EN VIVO</strong> por <strong>Internet</strong>. Evite traslados y gastos innecesarios, dándole vida y sacándole el mejor provecho a la forma de comunicarse por la red con sus clientes invitándolos a que participen en un evento en donde usted, y su equipo de expertos, presenten y promuevan lo más relevante de sus productos y servicios por internet a distancia, EN VIVO.</p>
    <p>Programe el día y la hora para mostrar al mercado de qué manera su empresa puede, a través de sus productos y servicios, aportar valor y contribuir a la solución de las necesidades de su negocio.</p>
    <p>Aumente el prestigio de su compañía, la lealtad de sus clientes, y sea usted y&nbsp; sus expertos líderes de venta quienes directamente <strong>y con pasión</strong>&nbsp; lleguen al mercado potencial con el mensaje clave e intensidad precisas.</p>
    <p><strong>&nbsp;</strong><strong>¡Cree oportunidades de prospectación y venta y contribuya en los beneficios de su empresa y de los de sus clientes!</strong></p>				
  </div>
  
  <div id="ovni"></div>​
  
</div>

