<%= render 'shared/renta_banner'%> 
<div class="renta explanation">
  <div class="question-list">
    <ul>
      <li><a href='#q-1'>¿Qué es elive RENTA</a></li>
    </ul>
  </div>
  
  <div class="question">
    <h3 id="q-1">¿Qué es elive RENTA?</strong></h3>
    <p>Es la solución que le permite de una manera fácil y rápida migrar o transformar sus cursos presenciales y promoción de sus productos y servicios a formato WEBINAR.</p>
    <p>Nuestros productos y servicios incluyen:</p>
    <ul>
      <li><strong>Solución<em> elivewebinars</em></strong> incluye acompañamiento/moderación del evento</li>
      <li><strong>Asesoría Instruccional</strong> para el diseño de contenidos</li>
      <li><strong>Locación de trasmisión del evento</strong> ,asesoría y/o renta de locación</li>
    </ul>
    <p>Los beneficios que usted puede obtener al transmitir sus eventos en formato <strong><em>elivewebinar</em></strong> son:</p>
    <ul>
      <li>Audio de presentador y participantes</li>
      <li>Video de presentador y participantes</li>
      <li>Sección de chat</li>
      <li>Sección de materiales Power Point</li>
      <li>Compartir Pantalla</li>
      <li>Grupos pequeños de trabajo</li>
      <li>Descargar documentos</li>
      <li>Lista de asistentes e interacción en salón virtual a través de íconos</li>
      <li>Evaluaciones y encuestas</li>
      <li>Envío de ligas y recordatorio del evento</li>
    </ul>
    <p>Capacite o promueva sus productos y servicios en grupos masivos o particulares</p>
  </div>
  
  <div id="ovni"></div>​
  
</div>

