<%= render 'shared/share_banner'%>
<div class="share explanation">
  <div class="question-list">
    <ul>
      <li><a href='#q-1'>¿Qué es elive SHARE?</a></li>
    </ul>
  </div>
  
  <div class="question">
    <h3 id="q-1">¿Qué es elive SHARE?</strong></h3>
    <p>Es la forma en la que puede mantenerse actualizado sobre lo que elivewebinars y lo que el mundo de la capacitación a distancia tiene para usted.</p>
    <p>Consulte nuestros artículos de interés, sitios, material multimedia y todo lo que hemos preparado especialmente para usted.</p>
    <p><strong>Atención Instructores y Consultores</strong>. ¿Le interesa ser parte de nuestro equipo? ¡Póngase en contacto con nosotros!</p>

  </div>
  
  <div id="ovni"></div>​
  
</div>

