<%= render 'shared/webinars_banner'%> 
<div class="webinars explanation"> 
  <div class="question-list">
    <ul>
      <li><a href='#q-1'>¿Qué son los webinars?</a></li>
      <li><a href='#q-2'>¿Qué ofrecemos?</a></li>
      <li><a href='#q-3'>¿Por qué capacitar con elive WEBINARS?</a></li>
      <li><a href='#q-4'>¿Por qué promover mis productos y servicios con elive WEBINARS?</a></li>
      <li><a href='#q-5'>Razones para hacerte webinar</a></li>
      <li><a href='#q-6'>Nuestras instalaciones virtuales</a></li>
    </ul>
  </div>
  
  <div class="question">
    <h3 id="q-1">¿Qué son los webinars?</strong></h3>
    <p>Los <strong>WEBINARS</strong> son seminarios o presentaciones <strong>EN VIVO</strong> por internet, facilitados por instructores  o líderes expertos.  Esta herramienta destaca entre las favoritas de las empresas de clase mundial ya que  facilita la comunicación y el aprendizaje virtual, en tiempo real . A través de los webinars los asistentes podrán actualizar sus conocimientos y ser entrenados en habilidades puntuales en poco tiempo lo cual les permite reintegrarse a sus actividades laborales en breve.</p>
  
      <p>Los beneficios de ofrecer contenidos o entrenamiento a través de webinars son equivalentes a los que ofrecen los eventos presenciales respecto a la comunicación y al logro de objetivos de la sesión.</p>
      
      <p>Para escuchar más detalle de lo que es elive WEBINARS haga click <a href="#">aquí</a></p>
  </div>
  
  <div class="question">
    <h3 id="q-2">¿Qué ofrecemos?</h3>
		<p>Ofrecemos <strong>WEBINARS</strong></p>
    <ul>
      <li><strong>A la medida</strong></li>
      <li><strong>Marketing</strong></li>
      <li><strong>Públicos</strong></li>
    </ul>
  </div>
    
  <div class="question">
    <h3 id="q-3">¿Por qué capacitar con elive WEBINARS?</h3>
    <p>La excelencia de capacitación de nuestros webinars, la logramos al combinar instructores expertos, temas relevantes y diseño instruccional que integra algunos de los siguientes esquemas y materiales significativos de aprendizaje:</p>
    <ul>
      <li>Problema-solución</li>
      <li>Análisis de causa-efecto</li>
      <li>Diagramas de procedimientos</li>
      <li>Intercambio de experiencias</li>
      <li>Grupos de trabajo</li>
      <li>Ejemplos y ejercicios prácticos</li>
      <li>Encuestas de diagnóstico</li>
      <li>Material multimedia atractivo y adhoc para la habilitación</li>
    </ul>
  </div>
  
    
  <div class="question">
    <h3 id="q-4">¿Por qué promover mis productos y servicios con elive WEBINARS?</h3>
    <p>Los webinars marketing <strong>EN VIVO</strong> por Internet son una asombrosa herramienta de mercadotecnia  que por su alcance, organización y posibilidades de contenido supera en mucho a otras herramientas de comunicación en línea.</p>	
  </div>
  
  
  <div class="question">
    <h3 id="q-5">Razones para hacerte webinar</h3>
    <ul>
      <li>Comunicar breve, clara y efectivamente EN VIVO por Internet a sus clientes y prospectos localizados en cualquier parte del mundo</li>
      <li>Mantenerse actualizado al integrarse a las tendencias de promoción y venta a distancia de hoy en día</li>
      <li>Ahorrar en viáticos y eliminar los esfuerzos administrativos demandados por un evento presencial</li>
      <li>Desarrollar contenidos hechos a su medida y con impacto a resultados</li>
      <li>Integrar la posibilidad de que un grupo de expertos comuniquen sus soluciones empresariales directamente al mercado de su interés</li>
      <li>Flexibilidad de horario, ya que programamos los webinars en el horario de su conveniencia</li>
    </ul>	
  </div>
  
  <div class="question">
    <h3 id="q-6">Nuestras instalaciones virtuales</h3>
    <p>Contamos con una plataforma tecnológica efectiva y rica en posibilidades que permite entrenar desde diversos ambientes de aprendizaje a costos inferiores de los implicados en la capacitación presencial.</p>
    <p><strong>Nuestra plataforma webinar cuenta con:</strong></p>
    <ul>
      <li>Salón virtual como si fuera presencial</li>
      <li>Grupos de trabajo privados durante el webinar</li>
      <li>Interacción con otros miembros del grupo a través de texto, audio y video</li>
      <li>Múltiples escenarios de capacitación según la necesidad de la sesión</li>
      <li>Encuestas de diagnóstico y ejercicios interactivos</li>
      <li>Más…</li>
    </ul>
    <p><strong>Y la buena noticia es que ¡sólo se requiere una computadora, diadema (audio y micrófono) y conexión a internet!</strong> ¡Si quiere más razones, póngase en contacto con nosotros y descubra porque somos la mejor opción del mercado!</p>					
  </div>
  
  <div id="ovni"></div>​
  
</div>

