<%= render 'shared/webinars_banner'%> 
<div class="webinars explanation"> 
  <div class="question-list">
    <ul>
      <li><a href='#q-1'>¿Qué son los webinars?</a></li>
      <li><a href='#q-2'>¿Qué webinars ofrecemos?</a></li>
      <li><a href='#q-3'>¿Por qué capacitar con elive WEBINARS?</a></li>
      <li><a href='#q-4'>¿Por qué promover mis productos y servicios con elive WEBINARS?</a></li>
      <li><a href='#q-5'>Razones para hacerte webinar</a></li>
      <li><a href='#q-6'>Nuestras instalaciones virtuales</a></li>
      <li><a href='#q-7'>Requerimientos técnicos</a></li>
    </ul>
  </div>
  
  <div class="question">
    <h3 id="q-1">¿Qué son los webinars?</strong></h3>
    <p>Los <strong>WEBINARS</strong> son seminarios o presentaciones <strong>EN VIVO</strong> por internet, facilitados por instructores  o líderes expertos.  Esta herramienta destaca entre las favoritas de las empresas de clase mundial ya que  facilita la comunicación y el aprendizaje virtual, en tiempo real . A través de los webinars los asistentes podrán actualizar sus conocimientos y ser entrenados en habilidades puntuales en poco tiempo lo cual les permite reintegrarse a sus actividades laborales en breve.</p>
  
      <p>Los beneficios de ofrecer contenidos o entrenamiento a través de webinars son equivalentes a los que ofrecen los eventos presenciales respecto a la comunicación y al logro de objetivos de la sesión.</p>
      
  </div>
  
  <div class="question">
    <h3 id="q-2">¿Qué WEBINARS ofrecemos?</h3>
		<p><strong>A la medida</strong></p>
		<p>Nuestro servicio de capacitación privada está orientado a dar apoyo a las empresas que necesitan informar sobre una actualización, asistir en el desarrollo de competencias laborales que agreguen valor a los procesos de negocio o motivar a la acción con este mismo propósito. Este esfuerzo se aplica a todos y a cada uno de los participantes inscritos en los programas de aprendizaje de su empresa o de nuestros webinars de catálogo.  Cada plan privado de capacitación desarrollado para su organización, se lleva a cabo de manera remota <strong>EN VIVO</strong> por Internet, y puede ser realizado de forma expositiva o interactiva y con enfoque a solución. Nuestros formatos de audiencia comprenden grupos masivos, grupos interactivos no mayores a 22 participantes y equipos de trabajo privados, en modalidad tipo taller en los cuales se sugiere que colaboren hasta 5 participantes.</p>
		<p><strong>Marketing</strong></p>
		<p>Los webinars marketing <strong>EN VIVO</strong> por <strong>Internet</strong> son una asombrosa herramienta de mercadotecnia  que por su alcance, organización y posibilidades de contenido supera en mucho a otras herramientas de comunicación en línea . Los webinars marketing lo mantienen comunicado con sus clientes y prospectos  de manera directa lo cual le permite continuar conservando su lealtad y abriendo canales de comunicación con otros prospectos que le pueden resultar muy interesantes para su negocio. No lo piense más y ¡ Use webinars para  posicionar su marca en el mercado global!</p>
		<p><strong>Públicos</strong></p>
		<p>En los cursos públicos o programados, la capacitación está centrada en un tema o contenido en particular de interés para la audiencia. La implementación del programa de capacitación se desarrolla con estricto apego a la descripción del seminario y sus objetivos de aprendizaje ofrecidos desde la venta. Los cursos programados incluyen:</p>
    <ul>
      <li>Audiencia heterogénea</li>
      <li>Una conexión por participante</li>
      <li>Horarios accesibles</li>
      <li>Seminarios de 3 horas</li>
      <li>Precios competitivos</li>
      <li>Temas relevantes y de aplicación inmediata</li>
    </ul>
  </div>
    
  <div class="question">
    <h3 id="q-3">¿Por qué capacitar con elive WEBINARS?</h3>
    <p>La excelencia de capacitación de nuestros webinars, la logramos al combinar instructores expertos, temas relevantes y diseño instruccional que integra algunos de los siguientes esquemas y materiales significativos de aprendizaje:</p>
    <ul>
      <li>Problema-solución</li>
      <li>Análisis de causa-efecto</li>
      <li>Diagramas de procedimientos</li>
      <li>Intercambio de experiencias</li>
      <li>Grupos de trabajo</li>
      <li>Ejemplos y ejercicios prácticos</li>
      <li>Encuestas de diagnóstico</li>
      <li>Material multimedia atractivo y adhoc para la habilitación</li>
    </ul>
    <p>Además le ofrecemos</p>
    <ul>
      <li>Precios competitivos</li>
      <li>Temas relevantes y de aplicación inmediata</li>
      <li>Enfoque a solución y posibilidad de interacción </li>
      <li>Reintegración rápida a las actividades labores</li>
    </ul>
  </div>
  
    
  <div class="question">
    <h3 id="q-4">¿Por qué promover mis productos y servicios con elive WEBINARS?</h3>
    <p>¡Porque es la mejor opción de comunicación formal a distancia hoy en día! Eficientice la forma de comunicar y promocionar sus productos y servicios a sus prospectos o clientes a través de webinars <strong>EN VIVO</strong> por <strong>Internet</strong>. Evite traslados y gastos innecesarios, dándole vida y sacándole el mejor provecho a la forma de comunicarse por la red con sus clientes invitándolos a que participen en un evento en donde usted, y su equipo de expertos, presenten y promuevan lo más relevante de sus productos y servicios por internet a distancia, <strong>EN VIVO</strong>. 
Programe el día y la hora para mostrar al mercado de qué manera su empresa puede, a través de sus productos y servicios, aportar valor y contribuir a la solución de las necesidades de su negocio.</p>

    <p>Aumente el prestigio de su compañía, la lealtad de sus clientes, y sea usted y  sus expertos líderes de venta quienes directamente y con pasión  lleguen al mercado potencial con el mensaje clave e intensidad precisas.</p>
    
    <p><strong>¡Cree oportunidades de prospectación y venta y contribuya en los beneficios de su empresa y de los de sus clientes!</strong></p>
  </div>
  
  
  <div class="question">
    <h3 id="q-5">Razones para hacerte webinar</h3>
    <ul>
      <li>Comunicar breve, clara y efectivamente <strong>EN VIVO</strong> por Internet a sus clientes y prospectos localizados en cualquier parte del mundo</li>
      <li>Mantenerse actualizado al integrarse a las tendencias de promoción y venta a distancia de hoy en día</li>
      <li>Ahorrar en viáticos y eliminar los esfuerzos administrativos demandados por un evento presencial</li>
      <li>Desarrollar contenidos hechos a su medida y con impacto a resultados</li>
      <li>Integrar la posibilidad de que un grupo de expertos comuniquen sus soluciones empresariales directamente al mercado de su interés</li>
      <li>Flexibilidad de horario, ya que programamos los webinars en el horario de su conveniencia</li>
    </ul>	
  </div>
  
  <div class="question">
    <h3 id="q-6">Nuestras instalaciones virtuales</h3>
    <p>Contamos con una plataforma tecnológica efectiva y rica en posibilidades que permite entrenar desde diversos ambientes de aprendizaje a costos inferiores de los implicados en la capacitación presencial.</p>
    <p><strong>Nuestra plataforma webinar cuenta con:</strong></p>
    <ul>
      <li>Salón virtual como si fuera presencial</li>
      <li>Grupos de trabajo privados durante el webinar</li>
      <li>Interacción con otros miembros del grupo a través de texto, audio y video</li>
      <li>Múltiples escenarios de capacitación según la necesidad de la sesión</li>
      <li>Encuestas de diagnóstico y ejercicios interactivos</li>
      <li>Más…</li>
    </ul>
    <p><strong>Y la buena noticia es que ¡sólo se requiere una computadora, diadema (audio y micrófono) y conexión a internet!</strong> ¡Si quiere más razones, póngase en contacto con nosotros y descubra porque somos la mejor opción del mercado!</p>					
  </div>
  
  <div class="question">
    <h3 id="q-7">Requerimientos técnicos</h3>
    <p>Lea nuestra guía técnica para tener una experiencia WEBINAR de excelencia <a href="/requerimientos.pdf">aquí</a></p>
  </div>
  
  <div id="ovni"></div>​
  
</div>

