<%= render 'shared/webinars_banner'%> 
<div class="webinars explanation"> 
  <div class="question-list">
    <ul>
      <li><a href='#q-1'>¿Qué es elivewebinars?</a></li>
      <li><a href='#q-2'>¿Qué ofrecemos?</a></li>
      <li><a href='#q-3'>¿Por qué elive?</a></li>
      <li><a href='#q-4'>¿Qué son los cursos programados?</a></li>
      <li><a href='#q-5'>¿Qué necesito hacer para inscribirme a un curso programado?</a></li>
    </ul>
  </div>
  
  <div class="question">
    <h3 id="q-1">¿Qué es elive WEBINARS?</strong></h3>
    <p>Los <strong>WEBINARS</strong> son seminarios de capacitación <strong>EN VIVO</strong> por internet, facilitados por instructores expertos.  Esta herramienta de capacitación destaca como las favoritas entre las empresas de clase mundial ya que  facilita el entrenamiento de habilidades puntuales en poco tiempo.  La duración promedio de cada sesión oscila entre  1 y 5 horas, mismas que pueden ser segmentadas por bloques de aprendizaje.</p>
  
      <p>Los beneficios didácticos de esta capacitación son equivalentes a los que ofrece una capacitación presencial respecto a la oportunidad de compartir e interactuar entre los participantes y el instructor. También es posible promover diversos ambientes de aprendizaje en el logro de los objetivos de entrenamiento, con la ventaja de no pagar viáticos ya que los participantes se conectan a un salón virtual desde su computadora. Este tipo de capacitación es ideal cuando la fuerza de trabajo de una empresa está dispersa.</p>
  </div>
  
  <div class="question">
    <h3 id="q-2">¿Qué ofrecemos?</h3>
    <%= image_tag("webinars-1.jpg", :class => "left")%>
		<p>Nuestros cursos <strong>elive WEBINARS</strong> son elaborados e implementados por instructores especialistas en diversos temas de interés, y son diseñados con metodologías prácticas, interactivas y orientadas a resultados por expertos diseñadores instruccionales; y transmitidos <strong>EN VIVO</strong> por <strong>Internet</strong> desde la mejor plataforma de entrenamiento de hoy en día, catalogada así por las más reconocidas empresas de capacitación de clase mundial. Nuestra oferta <strong>elive WEBINARS</strong> es:</p>
    <ul>
      <li><strong>Webinars Cursos:</strong> Son seminarios web <strong>EN VIVO</strong>, públicos o privados, cuyo propósito principal es habilitar a los participantes según el compromiso de aprendizaje planteado en el curso.</li>
      <li><strong>Webinars Soluciones Empresariales:</strong> Son presentaciones <strong>EN VIVO</strong>, por <strong>Internet</strong>, orientadas a describir la solución de negocio de una empresa y dirigidas a una audiencia en particular. Hoy por hoy, las empresas de clase mundial, utilizan los webinars como una herramienta de difusión, promoción e información de sus productos y servicios. Estos cursos pueden o no tener costo para los participantes.</li>
    </ul>
    <p>Pregunte por nuestros <em>webinars de catálogo</em> y <em>webinars</em> adhoc que atienden directamente las necesidades de su empresa. Dé clic en el botón de catálogo.</p>
  </div>
    
  <div class="question">
    <h3 id="q-3">¿Por qué elive?</h3>
    <p>La excelencia de capacitación de nuestros webinars, la logramos al combinar instructores expertos, temas relevantes y diseño instruccional que integra esquemas y materiales significativos de aprendizaje:</p>
    <ul>
      <li>Problema-solución</li>
      <li>Análisis de causa-efecto</li>
      <li>Diagramas de procedimientos</li>
      <li>Intercambio de experiencias</li>
      <li>Grupos de trabajo</li>
      <li>Ejemplos y ejercicios prácticos</li>
      <li>Encuestas de diagnóstico</li>
      <li>Material multimedia atractivo y adhoc para la habilitación</li>
    </ul>
    <p>Además, contamos con una plataforma tecnológica efectiva y rica en posibilidades que permite entrenar desde diversos ambientes de aprendizaje a costos inferiores de los implicados en la capacitación presencial.</p>
    <p>Nuestra plataforma webinar cuenta con:</p>
    <ul>
      <li>Salón virtual como si fuera presencial</li>
      <li>Grupos de trabajo privados durante el webinar</li>
      <li>Interacción con otros miembros del grupo a través de texto, audio y video</li>
      <li>Múltiples escenarios de capacitación según la necesidad de la sesión</li>
      <li>Encuestas de diagnóstico y ejercicios interactivos</li>
      <li>Más…</li>
    </ul>
    <p><strong>Y la buena noticia es que ¡sólo se requiere una computadora, diadema (audio y micrófono) y conexión a internet!</strong></p>
  </div>
    
  <div class="question">
    <h3 id="q-4">¿Qué son los cursos programados?</h3>
    <%= image_tag("webinars-2.jpg", :class => "right")%>
    <p>En los cursos públicos o programados, la capacitación está centrada en un tema o contenido en particular de interés para la audiencia. La implementación del programa de capacitación se desarrolla con estricto apego a la descripción del seminario y sus objetivos de aprendizaje ofrecidos desde la venta. Los cursos programados incluyen:</p>
    <ul>
      <li>Audiencia heterogénea</li>
      <li>Una conexión por participante</li>
      <li>Horarios accesibles</li>
      <li>Seminarios de 3 horas</li>
      <li>Precios competitivos</li>
      <li>Temas relevantes y de aplicación inmediata</li>
      <li>Enfoque a solución e interactividad</li>
      <li>Reintegración rápida a las actividades labores</li>
    </ul>
    <p>Ver programa del mes.</p>			
  </div>
  
  <div class="question">
    <h3 id="q-5">¿Qué necesito hacer para inscribirme a un curso programado?</h3>
    <p>Para participar en alguno de nuestros webinars programados se deberá realizar lo siguiente:</p>
    <p><strong>Registro:</strong></p>
    <ul>
      <li>Consultar el precio del webinar de su interés</li>
      <li>Pagar en ventanilla o realizar transferencia electrónica</li>
      <li>Banco</li>
      <li>Cuenta / CLABE</li>
      <li>Titular</li>
      <li>Concepto: fecha del webinar y título</li>
    </ul>
    <ul>
      <li>Envío de comprobante de pago a: 
        <a href="mailto:contacto@elivewebinars.com">contacto@elivewebinars.com</a>
      </li>
      <li>Recibo correo confirmación de participación al webinar ( envío usuario y contraseña )</li>
    </ul>
    <p><strong>Pruebas de conectividad.</strong> Estas pruebas serán desarrolladas con personal de nuestra organización una vez que usted se haya inscrito a un seminario. Consultar sección de requerimientos tecnológicos del menú principal del sitio.</p>					
  </div>
  
  <div id="ovni"></div>​
  
</div>

