<div id="top_section">
  <% if false %>
  <div id="photos" >
    <img alt="Porque nadie hace webinars como elive WEBINARS" src="/assets/banner.jpg" >

    <img alt="Los mejores seminarios de capacitación EN Vivo por la Internet...¡Viva la experiencia sin salir de casa u oficina!" src="/assets/banner-1.jpg" >
    <img alt="Transforme sus seminarios presenciales en webinars y capacite a su fuerza de trabajo disepersa simultáneamente ahorrando tiempo y dinero." src="/assets/banner-2.jpg" >
    <img alt="Los más avanzados contenidos multimedia a su alcance en atractivos portales de aprendizaje colaborativos. ¡CONECTESE a su red social laboral!" src="/assets/banner-3.jpg" >
    <img alt="Las más versátiles y dinámicas aulas virtuales de trabajo creadas y soportadas  por nuestros expertos." src="/assets/banner-4.jpg" >
    <img alt="Participe en nuestros webinars programados…¡Inscríbase! ¡PRÓXIMAMENTE!" src="/assets/banner-5.jpg">
    <img alt="Promueva sus soluciones empresariales a través de sus líderes expertos y ¡acérquese a  sus clientes como lo hacen las empresas de clase mundial!" src="/assets/banner-6.jpg" >
  </div>
	<div class="slogan">
		<h2>¡hazte <strong>webinar!</strong></h2>
		<div id="caption">

		</div>
	</div>
  <% end %>
  <div id="photos2" style="margin-left:auto; margin-right:auto; width:801px;">
  <img  src="/assets/temporal_banner.png" />
  </div>
</div>
