<div id="top_section">
	<div class="slogan">
		<h2>¡hazte <strong>webinar!</strong></h2>
		<div>Los mejores seminarios de capacitación y difución de sus productos y servicios en vivo por la internet.</div>
	</div>
</div>
