<div id="top_section">
  <div id="photos" >
    <img alt="Los mejores seminarios de capacitación y difución de sus productos y servicios en vivo por la internet." src="/assets/banner-5.png" >
  </div>
	<div class="slogan">
		<h2>¡hazte <strong>webinar!</strong></h2>
		<div id="caption">
		Los mejores seminarios de capacitación y difución de sus productos y servicios en vivo por la internet.
		</div>
	</div>
</div>
