<div id="footer"> 
	<div class="center">
	  <div class="footer_widget"> 
	    <h4>NOTICIAS</h4>
	      <div class="foot-info" id="scroller">
	        <ul id="tweets">
	        </ul>
	      </div>
	  </div><!--footerwidget-->
	  <div class="footer_widget">
	   <h4>¿TE QUEDARON DUDAS?</h4>
	   <ul>
	     <div class="foot-info">
           <% if false %>
	       <%= form_tag(contact_notifiers_path) do%>
	         <label>Asunto:</label>
	         <input type='text' name='message[subject]' /><br/>
	         <label>Email:</label>
	         <input type='text' name='message[email]'/><br/>
	         <label>Mensaje:</label>
	         <textarea name='message[content]'></textarea>
	         <input type="submit" value="Enviar"></input>
	       <% end %>
           <% end %>
	     </div>
	   </ul>
	  </div><!--footerwidget-->
	  <div class="footer_widget">
	    <h4>Contacto</h4>
	    <ul id="list-footer-connect">
        <li><a href="http://twitter.com/elivewebinars" target="_blank" id="footer-twitter"><span class="icon-footer-twitter"></span>Síguenos en Twitter</a></li>
        <li><a href="#" target="_blank" id="footer-twitter"><span class="icon-footer-phone"></span>+52 81 81295745</a></li>
        <li><a href="#" target="_blank" id="footer-twitter"><span class="icon-footer-mail"></span>madya.ayala@elivewebinars.com</a></li>
        <% if false%>
        <li><a href="#" id="footer-blog"><span class="icon-footer-blog"></span>Lee nuestro blog</a></li>
        <li><a href="#" id="footer-team"><span class="icon-footer-team"></span>Sobre nosotros</a></li>
        <li><a href="#" id="footer-jobs"><span class="icon-footer-work"></span>Contactanos</a></li>
        <% end %>
      </ul>
	  </div><!--footerwidget-->
	</div><!--center-->
</div>

<script>
  $('#scroller').newsScroller({speed:800,pause:4e3,animation:"fade",direction:"up",mousePause:!0,showItems:6})
</script>


