<div id="top_section">
	<div class="incompany slogan">
		<h2>¡Hazlo <strong>incompany!</strong></h2>
		<div>Los mejores seminarios de capacitación y difución de sus productos y servicios en vivo por la internet.</div>
	</div>
</div>
<%= render 'services/all_compressed'%>
