<div id="top_section">
  <div id="photos" >
    <img alt="Los mejores seminarios de capacitación y difución de sus productos y servicios en vivo por la internet." src="/assets/banner-5.jpg" >
  </div>
	<div class="incompany slogan">
		<h2>¡hazte <strong>webinar!</strong></h2>
		<div id="caption">
		</div>
	</div>
</div>
<%= render 'services/all_compressed'%>
