<div id="high"></div>
<div id="header">
	<div class="top">
		<ul class="menu">
      <li><a  href="/" title="Inicio">Inicio</a></li>
			<li><%= link_to "Nosotros" ,us_pages_path%></li>
      <li><%= link_to "Chat en Linea" ,chat_pages_path, :class => 'large'%></li>
      <li><%= link_to "Clientes", clients_pages_path%></li>
			<li><%= link_to "Formas de Pago" , payments_pages_path, :class => 'large'%></li>
		</ul>
		<h5 class="logo"><a href="/" title="Hazte webinar">Capacitación <span>e</span>live</a></h5>
	</div>
</div>
