<div id="top_section">
	<div class="renta slogan">
		<h2>¡Servicios <strong>en renta!</strong></h2>
		<div>Los mejores seminarios de capacitación y difución de sus productos y servicios en vivo por la internet.</div>
	</div>
</div>
<%= render 'services/all_compressed'%>
