<div id="top_section">
  <div id="photos" >
    <img alt="Los mejores seminarios de capacitación y difución de sus productos y servicios en vivo por la internet." src="/assets/banner-5.jpg" >
    <img alt="magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet" src="/assets/banner-5.jpg" >
    <img alt="pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of" src="/assets/banner-5.jpg" >
    <img alt="sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam" src="/assets/banner-5.jpg" >
    <img alt="consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur" src="/assets/banner-5.jpg" >
  </div>
	<div class="share slogan">
		<h2>¡hazte <strong>webinar!</strong></h2>
		<div id="caption">
		</div>
	</div>
</div>
<%= render 'services/all_compressed'%>
