<div id="top_section">
	<div class="share slogan">
		<h2>¡We also <strong>share!</strong></h2>
		<div>Los mejores seminarios de capacitación y difución de sus productos y servicios en vivo por la internet.</div>
	</div>
</div>
<%= render 'services/all_compressed'%>
