<div id="top_section">
  <div id="photos" >
    <img alt="Los mejores seminarios de capacitación y difución de sus productos y servicios en vivo por la internet." src="/assets/us-banner-1.jpg" >
  </div>
	<div class="slogan">
		<h2>¡hazte <strong>webinar!</strong></h2>
		<div id="caption">
		Porque nadie hace webinars como <strong style="color:#FF993F;">elive WEBINARS</strong>!
		</div>
	</div>
</div>
