<div id="content_padding">
  <div id="content">
    <div class="container incompany">
      <div class="column-1">
        <h3><b>elive</b> Incompany</h3>

        <div class="text1">
          <strong class="heading">
          Ponemos a su disposición nuestros servicios de consultoría en estrategias instruccionales y tecnología educativa con la finalidad de colaborar en la optimización de los diferentes procesos de capacitación y comunicación en su organización</strong>
        </div>
        
        <h4>Productos y Servicios INCOMPANY</h4>
        
        <div class="text1">
        Nuestra experiencia se ve reflejada en el desarrollo e implementación de los productos y servicios que ponemos a su disposición.
        </div>
        
        <ul class="list">
          <li><span>1</span><a><b>Consultoría</b><i>Servicios de consultoría en estrategias instruccionales</i></a></li>
          <li><span>2</span><a><b>Elaboración de contenidos</b><i>Tetemáticos e instruccionales</i></a></li>
          <li><span>3</span><a><b>Asesoría de diseño instruccional</b><i>En el desarrollo de tus contenidos de capacitación</i></a></li>
          <li><span>4</span><a><b>Mantenimiento</b><i>De productos instruccionales, cursos  y materiales de capacitación</i></a></li>
          <li><span>5</span><a><b>Blended e-learning</b><i>Programas de capacitación blended e-learning</i></a></li>
        </ul>
        <br />
        
        <h4>Programa de Formación de Instructores <b>y Desarrolladores de Contenidos</b></h4>
        <div class="text1">
        Formación y entrenamiento en Innovación educativa, estrategias y técnicas e-learning y presenciales
        </div>

      </div>

      <div class="column-2">
        
        <h4>Desarrollo de Contenidos y Servicios Curriculares</h4>
        
        <div class="text1">
        Nuestros servicios tienen como finalidad transformar y sacar provecho del capital intelectual y el conocimiento propio de la empresa. Nuestro proceso incluye:
        </div>
        
        <ul class="incompany-checked">
          <li>Iniciar cada compromiso con una evaluación diagnóstica estratégica</li>
          <li>Identificar y recopilar la información y los contenidos de aprendizaje requeridos alineados a las necesidades del negocio</li>
          <li>Aplicar nuestra probada metodología de desarrollo instruccional para el desarrollo de contenidos</li> 
          <li>Entregar contenidos a tiempo, dentro del presupuesto y con objetivos y enfoque claros a través de aplicar una rigurosa administración del proyecto</li>
        </ul>
        
        <br />
        <%= image_tag('incompany-1.png')%>


      </div>
    </div>
  </div>
</div>
