<div id="content_padding">
  <div id="content">
    <div class="container">
      <div class="column-1">
        <h3><b>elive</b> Incompany</h3>

        <div class="text1">
          <strong class="heading">
          Somos expertos en consultoría y servicios de estrategias instruccionales que optimicen sus procesos de capacitación.</strong>
        </div>
        
        <h4>Productos INCOMPANY</h4>
        
        <ul class="list">
          <li><span>1</span><a><b>Consultoría</b><i>Servicios de consultoría en estrategias instruccionales</i></a></li>
          <li><span>2</span><a><b>Elaboración</b><i>Generamos tus contenidos tetemáticos e instruccionales</i></a></li>
          <li><span>3</span><a><b>Asesoría</b><i>En el desarrollo de tus contenidos de capacitación</i></a></li>
          <li><span>4</span><a><b>Mantenimiento</b><i>De productos instruccionales, cursos  y materiales de capacitación</i></a></li>
          <li><span>5</span><a><b>Formación y entrenamiento</b> <i>A tu personal en innovación, estrategias y técnicas e-learning</i></a></li>
        </ul>

      </div>

      <div class="column-2">
        <h4>Además de los clásicos productos elive:</h4>



        <ul class="list">
          <li><span>1</span><a><b>Capacitación</b><i>En formato WEBINAR para sus empleados y clientes</i></a></li>

          <li><span>2</span><a><b>Rapid Learning</b><i>Contenidos para el autoaprendizaje con tecnología Rapid Learning</i></a></li>

          <li><span>3</span><a><b>Redes Sociales</b><i>Contenidos para redes sociales</i></a></li>

          <li><span>4</span><a><b>Blended e-learning</b><i>Programas de capacitación blended e-learning</i></a></li>
          
          <li><span>5</span><a><b>elive RENTA</b><i>Renta de Plataforma de Aprendizaje y Aulas Virtuales </i></a></li>

        </ul>

        <div class="link">
          <a href="services/incompany" class="margin3"><span><span>Más información</span></span></a>
        </div>

      </div>
    </div>
  </div>
</div>
