  <div id="content_padding">
    <div id="content">
      <div class="container renta">
        <div class="column-1">
          <h3><b>elive</b>RENTA</h3>
          
           <div class="text1">
            <strong class="heading">LE OFRECE LA IMPLEMENTACIÓN DE PLATAFORMA DE CAPACITACIÓN Y CONTENIDOS MULTIMEDIA PARA LMS</strong>
          </div>
          
          <h4>LMS</h4>

          <div class="text1">
          Es la solución que le permite entregar sus contenidos de capacitación y llevar un seguimiento de avance y desempeño de sus participantes de una manera  óptima a través de evaluaciones y generación de reportes.  
          </div>
          
          <div class="text1">
          Nuestra plataforma de entrenamiento <em>LMS</em> es robusta y compatible con las normas <em>SCORM</em> y <em>AICC</em>, además le permite accesos seguros; puede inscribir tantos participantes como su estrategia de capacitación lo requiera. Pregunte por nuestra opción a renta. 
          </div>
          
          <div class="text1">Contamos con extensiones para:</div>
          
          <ul class="tag">
            <li>Aulas Virtuales</li>
            <li>Redes Sociales</li>
            <li>Wikis</li>
            <li>Bibliotecas</li>
            <li>Foros</li>
            <li>Blogs</li>
          </ul>

        </div>

        <div class="column-2">
          
          <h3><b>Nuestros productos y servicios incluyen:</b></h3>

          <ul class="list">
            <li><span>1</span><a><b>Asesoría Instruccional para el diseño de contenidos</b></a></li>
            <li><span>2</span><a><b>Entrega Rápida</b></a></li>
            <li><span>3</span><a><b>Personalización de la plataforma</b></a></li>
            <li><span>4</span><a><b>Servicios de soporte 24/7</b></a></li>
            <li><span>5</span><a><b>Servicios administrativos de capacitación</b></a></li>
            <li><span>6</span><a><b>Capacitación para su manejo</b></a></li>
          </ul>
          <p>Nota: No requiere licencia de uso</p>
          <br />
           
          <%= image_tag("renta-1.jpg")%>  
        
        </div>
      </div>
    </div>
  </div>
