  <div id="content_padding">
    <div id="content">
      <div class="container">
        <div class="column-1">
          <h3><b>elive</b>RENTA</h3>
          
           <div class="text1">
            <strong class="heading">elive pone a su disposición las siguientes plataformas para su conveniencia.</strong>
          </div>
          
          <h4>LMS</h4>

          <div class="text1">
          Es la solución que le permite entregar sus contenidos de capacitación y llevar un seguimiento de avance y desempeño de sus participantes de una manera  óptima a través de evaluaciones y generación de reportes.  
          </div>
          
          <div class="text1">
          Nuestra plataforma de entrenamiento <em>LMS</em> es robusta y compatible con las normas <em>SCORM</em> y <em>AICC</em>, además le permite accesos seguros; puede inscribir tantos participantes como su estrategia de capacitación lo requiera. Pregunte por nuestra opción a renta. 
          </div>

        </div>

        <div class="column-2">
          <h4>Aula virtual</h4>
          
          <div class="text1">
          Es la solución que le permite de una manera fácil y rápida migrar o transformar sus cursos presenciales y promoción de sus productos y servicios a formato <em>WEBINAR</em>, así como llevar a cabo sus reuniones de trabajo con sus colegas, proveedores, y otros miembros asociados con su organización en el momento en que usted lo desee.
          </div>
          
          <h3><b>Nuestros productos y servicios incluyen:</b></h3>

          <ul class="list">
            <li><span>1</span><a><b>Renta de la plataforma</b></a></li>
            <li><span>2</span><a><b>Acompañamiento/moderación del evento</b> </a></li>
            <li><span>3</span><a><b>Asesoría Instruccional para el diseño de contenidos</b></a></li>
            <li><span>4</span><a><b>Redacción y envío de invitaciones a sus participantes</b></a></li>
            <li><span>5</span><a><b>Asesoría y/o renta de locación</b></a></li>
          </ul>
          <br />
          <div class="text1">Pregunte por nuestros paquetes!</div>
          
          <h3><b>Beneficios al transmitir sus eventos en formato WEBINAR:</b></h3>

          <ul class="list">
            <li><span>1</span><a><b>Audio de presentador y participantes</b></a></li>
            <li><span>2</span><a><b>Video de presentador y participantes</b> </a></li>
            <li><span>3</span><a><b>Sección de chat</b></a></li>
            <li><span>4</span><a><b>Sección de materiales Power Point</b></a></li>
            <li><span>5</span><a><b>Compartir Pantalla</b></a></li>
            
            <li><span>6</span><a><b>Grupos pequeños de trabajo</b></a></li>
            <li><span>7</span><a><b>Descargar documentos</b> </a></li>
            <li><span>8</span><a><b>Lista de asistentes e interacción en salón virtual</b><i>Todo demanera amigable a travéz de íconos</i></a></li>
            <li><span>9</span><a><b>Evaluaciones y encuestas</b></a></li>
            <li><span>10</span><a><b>Envío de ligas y recordatorio del evento</b></a></li>
            <li><span>11</span><a><b>Audiencia hasta 100 participantes</b></a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
