  <div id="content_padding">
    <div id="content">
      <div class="container">
        <div class="column-1">
          <h3><b>elive</b>Webinars</h3>
          
          <!--div class="explanations">
           ?Que es? | Porque | Juan escutia | Lady Gaga
          </div-->

          <div class="text1">
            <strong class="heading">We
            specialize in custom website development using PHP, Ruby and Opensource
            Frameworks</strong> With over 10 years of experience building PHP web
            applications, most of the projects we have completed use the LAMP stack. Our
            staff are Zend Certified experts in opensource website development.
          </div>

          <div class="block1 margin1">
            <a href="#" title="PHP Web Development">PHP web application development</a>

            <p class="padding1">We develop high performance, secure and scalable Web 2.0
            applications, using fault tolerant and distributed architectures ...</p>
          </div>

          <div class="block2 margin2">
            <a href="#" title="Ecommerce Consulting">Complete Ecommerce consultation</a>

            <p class="padding1">Need advice on your ecommerce strategy? Not sure where to
            start? We can provide a full feasibility study or consultation ...</p>
          </div>

          <div class="link">
            <a href="services/renta" class="margin3"><span><span>More Solutions</span></span></a>
          </div>
        </div>

        <div class="column-2">
          <h3>featured <b>services</b></h3>

          <ul class="list">
            <li><span>1</span><a href="#" title="Web Site Design"><b>Website Design &amp;
            Development</b> <i>Covering all aspects of your online business</i></a></li>

            <li><span>2</span><a href="#" title="Opensource Frameworks"><b>PHP and Ruby
            Applications</b> <i>Custom applications using opensource
            frameworks</i></a></li>

            <li><span>3</span><a href="#" title="Web Site Hosting"><b>Hosting &amp;
            Server Maintenance</b> <i>Simple hosting to complex load balanced
            servers</i></a></li>

            <li><span>4</span><a href="#" title=
            "Custom Application Modules and Plugins"><b>Modules, Plugins &amp;
            Extensions</b> <i>We modify applications to better suit your business
            needs</i></a></li>

            <li><span>5</span><a href="#" title="SEO"><b>Search Engine Optimization
            (SEO)</b> <i>Helping you get higher rankings for target keywords</i></a></li>

            <li><span>6</span><a href="#" title="Increase Conversions"><b>Increasing
            Website Conversions</b> <i>Turn your visitors into <b style=
            "text-decoration: underline; font-weight:normal;">customers</b></i></a></li>
          </ul>

          <div class="link padding1">
            <a href="#" title="Web Development Services"><span><span>View All
            Services</span></span></a>
          </div><cite>I am so impressed with your services ... I really, really am
          shocked to finally have some great information from an expert.</cite>

          <div class="text2">
            Melanie P. <a href="#" title="Thailand Detox">Thailand Detox</a><br />
            <a href="#" title="Testimonials">Read more testimonials</a>
          </div>
        </div>
      </div>
    </div>
  </div>
