  <div id="content_padding">
    <div id="content">
      <div class="container share">
        <div class="column-1">
          <h3><b>elive</b>SHARE</h3>
          
          <!--div class="explanations">
           ?Que es? | Porque | Juan escutia | Lady Gaga
          </div-->

          <div class="text1">
            <strong class="heading">
            Ofrece redes estratégicas de comunicación entre los equípos de trabajo y los lideres que laboran en proyectos particulares de la organización. Ideal para informar, entrenar, documentar y motivar el logro de metas de manera transparente</strong>
          </div>
          
          <h4>Diseño de Contenidos Multimedia</h4>
          
          <div class="text1">
          La fuerza de trabajo debe tener acceso a contenido informal  y formal de aprendizaje el cual es relevante para que el personal se mantenga motivado, informado,  y sobre todo competente para llevar a cabo sus actividades laborales con excelencia.
          </div>
          
          <ul class="tag">
            <li>Contenidos Rapid Learning</li>
            <li>Videos</li>
            <li>Podcasts</li>
            <li>Articulos</li>
            <li>Presentaciones Power Point</li>
            <li>e-books</li>
            <li>Wikis</li>
            <li>Evaluaciones</li>
            <li>Ejercicios Prácticos</li>
            <li>PDFs</li>
            <li>Guias rápidas</li>
            <li>Manuales Operativos</li>
            <li>Cursos e-learning</li>
            <li>Blogs</li>
          </ul>
          <br />
          <%= image_tag("share-1.png")%>
        </div>

        <div class="column-2">
          <h4>Plataforma de Entrenamiento y Colaboración Estratégica</h4>
          
          <div class="text1">
          Se implementa en proyectos específicos de negocio en los cuales se involucran el grupo de aprendices y el grupo de facilitadores como mentores, instructores y líderes de proyectos  quienes interactúan en una interface o portal social que puede ser monitoreada por los administradores del proyecto.
          </div>
          
          <div class="text1">
          Este portal está diseñado especialmente para lograr los objetivos de los grupos involucrados, que a su vez atienden a los objetivos de negocio y a la valiosa documentación de la experiencia. El diseño de las actividades interactivas y de aprendizaje se desarrollan estratégicamente tanto en su capacitación como en su seguimiento. El programa varía en duración y los participantes tienen acceso a:
          </div>

          <ul class="list">
            <li><span>1</span><a>Seminarios, Talleres y Reuniones en VIVO por Internet</a></li>
            <li><span style="float: left;">2</span><a>Foros efectivos para compartir buenas prácticas, opiniones y contenidos relevantes</a></li>
            <li><span>3</span><a>Acceso a materiales multimedia atractivos que incluyen evaluación</a></li>
            <li><span>4</span><a>Twitters relevantes y contextualizados</a></li>
            <li><span>5</span><a>Etiquetas sociales particulares según el programa en el que participa</a></li>
          </ul>
          <br /><br />
          <h4>Aula Virtual de Trabajo</h4>
          
          <div class="text1">
          Es la solución que le permite llevar a cabo sus reuniones de trabajo con sus colegas, proveedores, y otros miembros de la organización en el momento en que usted lo desee.   Utilice esta opción si lo que necesita es Informar, revisar y elaborar contenidos, capacitar de forma breve, intercambiar documentos, crear contenidos, revisar soluciones, etc.
          </div>

        </div>
      </div>
    </div>
  </div>
