  <div id="content_padding">
    <div id="content">
      <div class="container">
        <div class="column-1">
          <h3><b>elive</b>SHARE</h3>
          
          <!--div class="explanations">
           ?Que es? | Porque | Juan escutia | Lady Gaga
          </div-->

          <div class="text1">
            <strong class="heading">ofrecemos  ambientes sociales de aprendizaje, cuya colaboración es estratégica, ordenada y significativa para los participantes y la empresa en la consecución de los objetivos de negocio</strong>
          </div>
          
          <h4>Diseño de Contenidos Multimedia</h4>
          
          <div class="text1">
          La fuerza de trabajo debe tener acceso a contenido informal  y formal de aprendizaje el cual es relevante para que el personal se mantenga motivado, informado,  y sobre todo competente para llevar a cabo sus actividades laborales con excelencia.
          </div>
          
          <ul class="list">
            <li><span>1</span><b class="information">Acceso a ligas</b></li>
            <li><span>2</span><b class="information">Videos</b></li>
            <li><span>3</span><b class="information">Podcasts</b></li>
            <li><span>4</span><b class="information">Wikis</b></li>
            <li><span>5</span><b class="information">Redes Sociales</b></li>
          </ul>
          
        </div>

        <div class="column-2">
          <h4>Portal social de aprendizaje</h4>
          
          <div class="text1">
          Se implementa en proyectos específicos de negocio en los cuales se involucran el grupo de aprendices y el grupo de facilitadores como mentores, instructores y líderes de proyectos  quienes interactúan en una interface o portal social que puede ser monitoreada por los administradores del proyecto.
          </div>
          
          <div class="text1">
          Este portal está diseñado especialmente para lograr los objetivos de los grupos involucrados, que a su vez atienden a los objetivos de negocio y a la valiosa documentación de la experiencia. El diseño de las actividades interactivas y de aprendizaje se diseñan estratégicamente tanto en su capacitación como en su seguimiento. El programa varía en duración y los participantes tienen acceso a:
          </div>

          <ul class="list">
            <li><span>1</span><a>Seminarios, Talleres y Reuniones en VIVO por Internet</a></li>
            <li><span style="float: left;">2</span><a>Foros efectivos para compartir buenas prácticas, opiniones y contenidos relevantes</a></li>
            <li><span>3</span><a>Chat en tiempo real</a></li>
            <li><span>4</span><a>Acceso a materiales multimedia atractivos que incluyen evaluación</a></li>
            <li><span>5</span><a>Twitters relevantes y contextualizados</a></li>
            <li><span style="float: left;">6</span><a>Etiquetas sociales particulares según el programa en el que participa</a></li>
            <li><span>7</span><a>Blogs</a></li>
            <li><span>8</span><a>Perfiles</a></li>
            <li><span>9</span><a>Wikis, biblioteca y más...</a></li> 
          </ul>

        </div>
      </div>
    </div>
  </div>
