  <div id="content_padding">
    <div id="content">
      <div class="container webinars">
        <div class="column-1">
          <h3><b>elive</b>Webinars</h3>
          

          <div class="text1">
             <strong class="heading">LOS WEBINARS SON SEMINARIOS O PRESENTACIONES EN VIVO POR INTERNET, IDEALES PARA CAPACITAR O PROMOVER PRODUCTOS Y SERVICIOS POR EXPERTOS CONSULTORES.  LOS WEBINARS SON ACCESADOS DESDE LA COMODIDAD DE CASA U OFICINA POR SU COMPUTADORA, TABLET O SMARTPHONE</strong>
          </div>
          
          <h3><b>Tipos de WEBINARS:</b></h3>
        
          <h4>Marketing</h4>
          
          <div class="text1">
             Transforme sus sesiones presenciales en eventos virtuales y acérquese a sus clientes y prospectos con la mejor tecnología de promoción directa sin gastar en viáticos. Aumente el prestigio de su compañía, la lealtad de sus clientes donde quiera que ellos se encuentren, y sea usted, y  sus expertos líderes de venta, quienes directamente y con pasión, lleguen al mercado potencial con el mensaje clave e intensidad precisas.
          </div>
          

          <h4>Públicos</h4>
          
          <div class="text1">
             Capacítese directamente con el experto en el tema o habilidad de su preferencia y aprenda en pocas horas lo que debe aplicar en forma inmediata en su trabajo. Los webinars públicos son seminarios programados periódicamente  y son ofrecidos al público en general.  La capacitación se desarrolla en un ambiente virtual dinámico, y ofrece ventajas equivalentes a las que ofrece un seminario presencial, a diferencia de que los contenidos son más breves por su enfoque a solución. Nuestra capacitación pública  se apega estrictamente a la descripción y objetivos de aprendizaje ofrecidos desde la venta. 
          </div>
          
          <div class="block2">
					  <a href="<%= liga %>" title="Conctacto" target="_blank">Inscribase a nuestros WEBINARS públicos</a>
						<p class="padding1">&nbsp;</p>
						<p class="padding1">&nbsp;</p>
				  </div>
				  
				  <div class="link">
            <a href="services/webinars" class="wiki"><span><span>Más información</span></span></a>
          </div>
          
        </div>
        <div class="column-2">
          
          <h4>A la Medida</h4>
          <div class="text1">
             Nuestro servicio de capacitación privada está orientado a dar apoyo a las empresas que necesitan informar sobre una actualización, asistir en el desarrollo de competencias laborales que agreguen valor a los procesos de negocio o motivar a la acción con este mismo propósito.  Cada plan privado de capacitación puede ser desarrollado e implementado bajo las siguientes modalidades.
          </div>
          
          De clic en cada producto para ver su descripción<br /><br />
          
          <ul class="list">
            <li><span>1</span><a href="#" class="information">Webinar Actualización</a>
            <i class="information">: Optima si lo que busca es informar sobre ajustes a la fecha, y vigencias, adaptaciones y cambios relativos a procesos, normas, leyes, recurso, sistemas y otros elementos de negocio,  a sus empleados y colaboradores.</i></li>
            
            <li><span>2</span><a href="#" class="information">Webinar Curso</a><i class="information"> 
            : Si requiere habilitar a sus empleados  en el dominio de alguna tarea, actividad, o área de conocimiento específica de manera puntual, breve y efectiva.</i></li>

            <li><span>3</span><a href="#" class="information">Webinar Taller</a><i class="information">: Este formato de entrenamiento es ideal para que los participantes,  a través de reuniones virtuales que también se llaman talleres, descubran o construyan de forma colaborativa soluciones de negocio, establecer consensos, intercambiar experiencias, se motiven a la acción, o logren cualquier objetivo o meta de equipo.</i></li>

            <li><span>4</span><a href="#" class="information">Webinar Conferencia</a><i class="information">: Si su propósito es informar y/o motivar a la acción a sus empleados, proveedores o clientes de manera directa  o a través de un tercero experto en la materia, de manera rápida y efectiva, esta solución es la indicada para usted.</i></li>

            <li><span>5</span><a href="#" class="information">Webinar Catálogo</a><i class="information">: Le ofrecemos una lista de temas de webinars con enfoque a solución. Cada webinar tiene una duración de 3 horas. ¡Pregunte por nuestro catálogo!</i></li>

            <li><span>6</span><a href="#" class="information">Webinar Catálogo Adhoc</a><i class="information">: De la lista de temas de curso de nuestro catálogo, le ofrecemos adaptar sus contenidos: ejercicios, ejemplos y escenarios  según el contexto y  requerimiento de sus participantes,  hasta en un 25%. ¡Seleccione el que más le convenga!</i></li>
            
          </ul>
          <br />
          <div class="block1">
					  <a href="#" title="Conctacto">Solicite catálogo elive WEBINARS</a>
						<p class="padding1">Pregunte por las modalidades de audiencia  webinar: Masivo 100™, Grupo 22™ y Equipo 5™</p>
				  </div>
          
          <br /><br />
          <!--
          <cite>I am so impressed with your services ... I really, really am
          shocked to finally have some great information from an expert.</cite>

          <div class="text2">
            Melanie P. <a href="#" title="Thailand Detox">Thailand Detox</a><br />
            <a href="#" title="Testimonials">Read more testimonials</a>
          </div>
          -->
          
          <%= image_tag('webinars-1.png')%>

        </div>
      </div>
    </div>
  </div>
