<%= render 'shared/us_banner'%> 
<div class="explanation no-padding">

  
  <div class="question">
    <h3 id="q-1">¿Quiénes somos?</h3>
    <table>
      <tr>
        <td>
          <p>Comprometidos en llevar a su empresa servicios y productos de capacitación innovadores y efectivos, acordes a la tendencia del mercado mundial actual, se ha creado la empresa Capacitación elive</p>
          <p>
          Capacitación elive es una organización experta en la aplicación de servicios de estrategias instruccionales e-learning  para el análisis, procesamiento, elaboración y entrega efectiva de contenidos especializados que generen valor de negocio en las áreas de:
          </p>
           <ul>
            <li>Capacitación del personal y asociados de una empresa</li>
            <li>Ventas y Marketing para la efectiva presentación de las soluciones empresariales 
      (productos y servicios ) de una organización a sus clientes y prospectos.</li>
          </ul>
        </td>
        <td>
          <p>
          Nuestra empresa  fundamenta su estrategia de servicios para atender los requerimientos del cliente en un modelo integral de solución óptimo y congruente de acuerdo a sus necesidades e infraestructura equilibrando sus elementos fundamentales:
          </p>
          <br />
          <%= image_tag('us-1.jpg', :style => "display:block;margin:auto;")%>
        </td>
      </tr>
    </table>
    
    <br />
  </div>
  
</div>

