*
{
  font-size:100%;
  margin:0;
  padding:0;
}

body
{
  background:url(/assets/top-tail.gif) top repeat-x #FFF;
  text-align:center;
}

img
{
  vertical-align:top;
}

a img
{
  border:0;
}

ul
{
  list-style:none;
}

.clear
{
  clear:both;
}

html
{
  font-family:Arial, Helvetica, sans-serif;
  font-size:.8125em;
  line-height:1.385em;
  color:#727a82;
}

input,select
{
  vertical-align:middle;
  font-weight:400;
}

a
{
  color:#d98c00;
  outline:none;
}

a:hover
{
  text-decoration:none;
}

p
{
  padding-top:18px;
}

table
{
  padding-top:18px;
}

h5.logo
{
  font-size:3.538em;
  text-transform:none;
  background:none;
  line-height:1.224em;
  letter-spacing:1px;
  padding:5px 0 0 7px;
}

h5.logo a
{
  font-weight:100;
  color:#fff;
  text-decoration:none;
  display:inline-block;
  background:url(/assets/logo-bg.gif) no-repeat 0 6px;
  padding-left:50px;
  color: #fff;
}

h5.logo a span{
  color: red;
}

h2
{
  font-size:5.023em;
  text-transform:uppercase;
  color:#222;
  line-height:1.447em;
  letter-spacing: 2px;
  padding:15px 0 0;
}

h2 strong
{
  display:block;
  color:red;
  font-size:1.039em;
  margin-top:-30px;
}

h1.pretty
{
  font-size:3.077em;
  text-transform:uppercase;
  line-height:1.25em;
  color:#222;
  letter-spacing:-2px;
}

h1.pretty b
{
  font-size:.7em;
  color:#909090;
  vertical-align:text-top;
  line-height:1.2em;
  display:inline-block;
  padding-top:10px;
}

h3
{
  font-size:3.077em;
  text-transform:uppercase;
  line-height:1.25em;
  color:#222;
  letter-spacing:0px;
  padding-bottom:16px;
}

h3 b
{
  text-transform:none;
  vertical-align:0;
  font-size:60%;
  color:#909090;
  line-height:1.2em;
  display:inline-block;
  padding-top:10px;
}

h3.header
{
  font-size:1.7em;
  color:#909090;
  vertical-align:text-top;
  line-height:1.2em;
  display:inline-block;
  padding-top:25px;
  padding-bottom:0;
}


#content_padding h4
{
  font-size:1.8em;
  line-height:1.25em;
  color:#222;
  letter-spacing:0px;
  padding-bottom:10px;
}

strong.heading
{
  display:block;
  text-transform:uppercase;
  padding-bottom:5px;
  font-size:.867em;
  color:#71ac00;
}

cite
{
  display:block;
  background:url(/assets/citation-bg.gif) no-repeat 0 0;
  font-size:1.231em;
  line-height:1.5em;
  color:#71ac00;
  margin-top:-17px;
  padding:45px 0 0 30px;
}

.imgindent
{
  float:left;
  margin:0 30px 0 0;
}

.imgindent2
{
  float:left;
  margin:0 19px 0 0;
}

.phone
{
  float:right;
  padding-right:26px;
}

.margin1
{
  margin-top:52px;
}

.margin2
{
  margin-top:33px!important;
}

.margin3
{
  margin-top:17px!important;
}

.margin4
{
  margin-top:22px;
}

.padding1
{
  padding-top:12px;
}

.padding2
{
  padding-top:33px;
}

.padding3
{
  padding-bottom:44px!important;
}

#header .top
{
  width:100%;
  overflow:hidden;
  height:71px;
}

#header .menu
{
  float:right;
  position:relative;
  padding: 22px 47px 0px 10px
}

#header .menu li
{
  float:left;
  font-size:1.462em;
  line-height:1.263em;
  padding-left:7px;
}

#header .menu a
{
  display:inline-block;
  text-decoration:none;
  color:#fff;
  width:87px;
  text-align:center;
}

#header .menu a.large
{
  display:inline-block;
  text-decoration:none;
  color:#fff;
  width:104px;
  text-align:center;
}

#header .menu a:hover,#header .menu .active
{
  color:#79ba15;
}

/* --- Banner --- */

#top_section
{
  background-position:510px 0px;
  height: 320px;
}

#top_section #photos{
  float:right;
  margin-right: 110px;
}

#top_section .slogan
{
  margin-bottom:140px;
  margin-top: 40px;
  margin-left: 35px;
}

#top_section .slogan div
{
  font-size:1.384em;
  color:#5a5a5a;
  margin-top:-5px;
  width:380px;
}

#top_section .header-text
{
  font-size:2.538em;
  color:#576370;
  line-height:1.394em;
  letter-spacing:-1px;
  background:url(/assets/header-text-bg.jpg) no-repeat right 5px;
  margin:45px 34px 0 45px;
}

#top_section .header-text div
{
  font-size:.636em;
  margin-top:-17px;
  color:#adadad;
  letter-spacing:normal;
}

/*  --- ENDS Banner  --- */

.header-text
{
  padding-bottom:23px;
}

/* --- Serive description --- */

.left,#menu-image-menu li
{
  float:left;
}

ul#menu-image-menu {
  list-style: none;
}

.services
{
  padding-bottom:90px;
  height: 150px;
}

.services-small
{
  padding-bottom:50px;
/*  margin-left: -35px;*/
  height: 30px;
}

.service-description {
  margin-left: 30px;
}

.service-description .tagline{
  font-size: 15px;
}

.service-description ul {
  list-style-type:circle !important;
  margin-top: 15px;
  margin-left: 15px;
}

.service-description ul li {
  float: none !important;
}

.learn-more {
  text-align: center;
  margin-top: 40px;
}

.learn-more a {
  text-decoration: none;
  font-weight:bold;
}

.top-divider {
  background: url(/assets/home_sprite.png) no-repeat;
  left: 225px;
  position: relative;
  width: 6px;
  background-position: -374px 0;
  height: 43px;
  margin-top: -43px;
  top: 32px;
}

.bottom-divider{
  background: url(/assets/home_sprite.png) no-repeat;
  left: 225px;
  position: relative;
  width: 6px;
  background-position: -374px -14px;
  height: 162px;
  margin-top: -157px;
  top: 0;
}

/* --- ENDS Serive description--- */

/* -- Service identity -- */

.webinars a, .webinars h2 strong, .webinars h4{
  color: #D98C00;
}

.incompany a, .incompany h2 strong, .incompany h4{
  color: #2E3192;
}

.renta a, .renta h2 strong, .renta h4{
  color: #00A99D;
}


.share a, .share h2 strong, .share h4{
  color: #8CC63F;
}


/* --- ENDS Serive identity --- */

#content_padding
{
  padding:40px 0px 0px 0px;
}

#content
{
  background: url(/assets/content-bg.gif) left bottom no-repeat;
  padding-bottom:80px;
}

#content ul
{
  list-style-position:inside;
  list-style-type:circle;
}

/*#content .column-1 li*/
/*{*/
/*  padding-left:2px;*/
/*}*/

/*.column-1 .list li*/
/*{*/
/*  font-size:.85em;*/
/*  line-height:1.4em;*/
/*}*/

.column-2
{
  margin-left:115px;
}

.link
{
  text-align:right;
}

.link a
{
  display:inline-block;
  text-decoration:none;
  margin-top:26px;
  cursor:pointer;
}

.link a span
{
  display:inline-block;
}

.link a span span
{
  padding:4px 17px 20px;
}

.link1
{
  color:#727a82;
}

.text1
{
  font-size:1.154em;
  line-height:1.6em;
  margin-top:-3px;
  margin-bottom: 30px;
}

.text2
{
  color:#d98c00;
  text-align:right;
  font-size:1.077em;
  font-style:italic;
  padding:9px 13px 0 0;
}

.text2 a
{
  color:#4f5f70;
  font-size:.929em;
  display:inline-block;
  margin-top:2px;
}

.text3
{
  font-size:1.231em;
  line-height:1.5em;
  color:#71ac00;
  font-style:italic;
}

#content ul.list
{
  list-style-position:outside;
  list-style-type:none;
}

.list
{
  margin-top:-2px;
}

.list li
{
  padding-bottom:7px;
}

.list a
{
  color:#727a82;
  text-decoration:none;
}

.list span
{
  display:inline-block;
  width:20px;
  text-align:center;
  color:#fff;
  font-size:1.077em;
  background:url(/assets/list-marker-bg.gif) no-repeat 0 0;
  font-weight:700;
  margin-right:18px;
  padding:2px 1px 1px 0;
}

.block1
{
  background:url(/assets/block1-bg.jpg) no-repeat 0 3px;
  padding-left:90px;
}

.block2
{
  background: url(/assets/block2-bg.jpg) no-repeat 0 3px;
  padding-left:90px;
}

#PrettyForm a,.PrettyForm a,.PrettyButton a
{
  display:inline-block;
  background:url(/assets/link1-tail.gif) top repeat-x;
  text-decoration:none;
  cursor:pointer;
  color:#fff;
  vertical-align:top;
  margin:0 0 0 10px;
}

#PrettyForm a span,.PrettyForm a span,.PrettyButton a span
{
  display:inline-block;
  background:url(/assets/link1-left-bg.gif) left top no-repeat;
}

#PrettyForm a span span,.PrettyForm a span span,.PrettyButton a span span
{
  background:url(/assets/link1-right-bg.gif) right top no-repeat;
  padding:4px 17px 23px;
}

.PrettyButtonShort a
{
  display:inline-block;
  background:url(/assets/link1-tail-short.gif) top repeat-x;
  text-decoration:none;
  cursor:pointer;
  color:#fff;
  vertical-align:top;
  margin:0 0 0 10px;
}

.PrettyButtonShort a span
{
  display:inline-block;
  background:url(/assets/link1-left-bg-short.gif) left top no-repeat;
}

.PrettyButtonShort a span span
{
  background:url(/assets/link1-right-bg-short.gif) right top no-repeat;
  padding:4px 17px 23px;
}

.PrettyForm
{
  padding-top:6px;
}

.sidebar-box
{
  margin-bottom:15px;
}

.sidebar-box .top
{
  background:url(/images/box-top.png) no-repeat;
  height:9px;
  overflow:hidden;
  padding:0 10px 0 15px;
}

.sidebar-box .body
{
  background:url(/images/box-bg.png) repeat-y;
  padding:15px 10px 0 15px;
}

.sidebar-box .bottom
{
  background:url(/images/box-bottom.png) no-repeat;
  height:20px;
  padding:0 10px 0 15px;
}

.nobr br
{
  display:none;
}

h1.php,h2.php,h3.php,h4.php,h5.php,#footer_tags
{
  font-size:1em;
  background:none;
  letter-spacing:0;
  display:inline;
  padding:0;
}

.footer-tabs
{
  border-top:thin solid #D3D3D3;
  border-right:thin solid #D3D3D3;
  border-left:thin solid #D3D3D3;
  width:998px;
}

.footer-tabs a
{
  color:#AAA;
  float:left;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  width:33%;
  border-right:thin dotted #D3D3D3;
  padding:5px 0;
}

.footer-tabs a:active
{
  background-color:#999;
}

.footer-tabs a.last
{
  border-right:none;
}

.footer-tab
{
  height:28px;
  background:url(/images/footer_tab_bg.gif) repeat scroll center top transparent;
}

.footer-tab-content
{
  height:100px;
  display:none;
  width:978px;
  padding:10px;
}

.right,.float-right
{
  float:right;
}

.strong1,.list a b
{
  color:#4f5f70;
}

.link a:hover,#PrettyForm a:hover,.PrettyForm a:hover,.PrettyButton a:hover,.PrettyButtonShort,.PrettyButtonShort a:hover
{
  color:#000;
}

.list a:hover,.list a:hover b
{
  color:#d98c00;
}

.list a i,.list a:hover i
{
  text-indent:40px;
  display:block;
  font-style:normal;
}

#footer .menu a:hover,#footer p a
{
  color:#71ac00;
}

#PrettyForm input,.PrettyForm input
{
  border:solid 1px gray;
  background:#f5f5f5;
  font-family:Arial, Helvetica, sans-serif;
  font-size:.846em;
  color:#909090;
  width:175px;
  vertical-align:middle;
  margin-top:2px;
  padding:4px 2px 4px 8px;
}

/* -- FOOTER -- */

#footer
{
  background-color: #FFF;
  border-top: 1px dashed #DEDEDE;
  padding: 40px 0px 10px 0px;
  height: 300px;
  margin-top: 0px;
  margin-bottom: 20px;
}


#footer .menu
{
  font-size:.923em;
  float:left;
  margin-left:-21px;
  padding:30px 0 0 1px;
}

.center {
  width: 950px;
  margin: 0 auto;
  position: relative;
}

.footer_widget {
  float: left;
  width: 30%;
  margin-right: 2%;
}

.footer_widget div.foot-info {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #E5E5E5 !important;
  margin-right: 15px;
  color: white;
  text-align: left;
  padding-left: 10px;
  min-height:270px;
}

.footer_widget textarea {
  width:230px;
  height:120px;
  border: 1px solid #999;
}

.footer_widget label {
  padding-top: 10px;
  display: block;
  color: #666;
}

.footer_widget input[type=text] {
  width:230px;
  border: 1px solid #999;
}

.footer_widget a#submit {
  margin-left: 188px;
}

.footer_widget h4 {
  font-size: 1em;
  color: #444;
  border-bottom: 1px solid #A9A9A9;
  padding-bottom: 4px;
  margin-bottom: 0px;
}

.footer_widget ul {
  list-style-type: none;
  padding: 20px 0px 0px 15px;
  margin: 0px;
}

.footer_widget ul#list-footer-connect li{
  margin-bottom: 9px;
}

.footer_widget ul#list-footer-connect li a{
  display: block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: #E5E5E5;
  line-height: 60px;
  color: #666;
  font-size: 11px;
  padding-left: 10px;
  text-decoration: none;
  text-align: left;
}

ul#list-footer-connect span{
  display: -moz-inline-box;
  display: -moz-inline-stack;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  zoom: 1;
  overflow: hidden;
  height: 30px;
  width: 30px;
  margin-top: -2px;
  margin-right: 10px;
/*  background-image: url(/assets/slogan-bg.gif);*/
}

ul#list-footer-connect span.icon-footer-twitter{
  background-image: url('/assets/follow_twitter.png');
}

ul#list-footer-connect span.icon-footer-blog{
  background-image: url('/assets/follow_blog.png');
}

ul#list-footer-connect span.icon-footer-team{
  background-image: url('/assets/follow_team.png');
}

ul#list-footer-connect span.icon-footer-work{
  background-image: url('/assets/follow_work.png');
}

ul#tweets {
  color: #555;
  text-align:left;
}

ul#tweets li{
  margin-left: 20px;
  margin-right: 10px;
  color: #555;
  margin-bottom: 10px;
  font-size: 15px;
  list-style: square url('/assets/tweet_icon.png');
}

ul#tweets li:first-letter{
  text-transform:capitalize;
}

#tweeter-logo{
 margin-top:10px;
 margin-left:80px;
 margin-bottom:10px;
}

#scroller{
  margin-top:18px;
  margin-left: 15px;
  max-height: 272px;
}

/* --- ENDS FOOTER --- */


/* --- Service Explanation --- */


.explanation .question {
  padding-bottom: 50px;
  padding-left: 30px;
}

.explanation h3{
  font-size: 2em;
  color: #333;
  border-bottom: 1px solid #777;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.explanation h4{
  font-size: 1.5em;
}

.explanation p {
  font-size: 1.1em;
  color: #444;
  padding-right: 150px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  line-height: 1.4em;
}

.explanation ul {
  font-size: 1.1em;
  color: #444;
  padding-left: 45px;
  padding-right: 150px;
  margin-top: 18px;
  list-style: square;
  letter-spacing: 1px;
  line-height: 1.4em;
}

.explanation li {
  padding-top:5px;
}

.explanation img.left {
  float: left;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.explanation img.right {
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.question-list{
  margin-left: 30px;
  margin-bottom:50px;
  display: inline-block;
  background-color: #F9F9F9;
}

.question-list ul{
  border: 1px solid #777;
  padding-top:10px;
  padding-bottom:10px;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 0px;
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 1.4em;
  list-style: none;
}

.question-list a{
  text-decoration: none;
}

.question-list a:hover{
  text-decoration: underline;
}
/* --- ENDS Service Explanation --- */

#ovni{
  font-size: 15px;
  position: fixed;
  right: 40px;
  bottom: 0;
  width: 80px;
  height: 50px;
  background: url('/assets/up-arrow.png') no-repeat center;
  text-align: center;
  cursor: pointer;
}

/** landing information **/

i.information{
  font-style: normal;
}

a.information{
  font-weight: bold;
  cursor: pointer;
  color: #666;
}

b.information {
  color: #666;
}


